<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>

    <h1>Admin Page</h1>
    <h4>Members:</h4>

    <ul>
        {{!-- each is like a loop --}}
        {{#each members}}
        {{!-- targeting info from the classic models database --}}
        <li>{{this.name}} {{this.email}}</li> &nbsp;&nbsp;<button>Delete User</button> <button>Update User</button>

        {{/each}}

    </ul>

</body>

</html>