<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>
    <header>
        {{>home}}
    </header>

    <h1>Admin Page</h1>
    <h4>Members:</h4>

    <div style="width: fit-content;">

        <ul>
            {{!-- each is like a loop --}}
            {{#each members}}
            {{!-- targeting info from the classic models database --}}
            <li style="list-style-type: none;">Name: {{this.name}} Contact Email {{this.email}}</li>

            {{/each}}

        </ul>

        <form action="/del">
            <button type="submit" id="del">Delete User</button>
        </form>

        <form action="/up">
            <button type="submit" id="up">Update User</button>
        </form>

    </div>

</body>

</html>