<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
</head>

<body>
    <header>
        {{>home}}
    </header>
    <h1>Welcome back!</h1>
    {{details}}

    <form action="updateDetails" method="POST">
        <input type="email" name="email" placeholder="Enter new email" />
        <input type="text" name="name" placeholder="Enter new name" />
        <input type="password" name="password" placeholder="Enter password" />
        <button type="submit">Change</button> <br>
        <p style="color: red;">You will be prompt to provide your current password before making any changes.</p>
    </form>

</body>

</html>