<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>updating records</title>
</head>

<body>
    <h3>Check the details and select what record you want to update.</h3>

    <p>{{{details}}}</p>

    <form action="nameSelected">
        <button type="submit">Name?</button>
        <input type="text" name="Name" placeholder="Enter new name" />
        <input type="text" placeholder="Enter your current password">
    </form>

    <form action="emailSelected">
        <button type="submit">Email?</button>
        <input type="text" placeholder="Enter new name" />
        <input type="text" placeholder="Enter your current password">
    </form>

    <form action="passwordSelected">
        <button type="submit">Email?</button>
        <input type="text" placeholder="Enter new name" />
        <input type="text" placeholder="Enter your current password">
    </form>

</body>

</html>